<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="card-container">

    <a href="/addStudent" class="card">
        <h2>➕</h2>
        <h3>Add Student</h3>
    </a>

    <a href="/viewStudents" class="card">
        <h2>📋</h2>
        <h3>View Students</h3>
    </a>

    <a href="/searchStudent" class="card">
        <h2>🔍</h2>
        <h3>Search Student</h3>
    </a>

    <a href="/updateStudent" class="card">
        <h2>✏️</h2>
        <h3>Update Student</h3>
    </a>

    <a href="/deleteStudent" class="card">
        <h2>🗑️</h2>
        <h3>Delete Student</h3>
    </a>

    <a href="/" class="card">
        <h2>🚪</h2>
        <h3>Logout</h3>
    </a>

</div>
</div>

</body>

</html>