<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<div class="report-container">

<h1>Reports Dashboard</h1>

<div class="report-cards">

<div class="report-card">
<h2>Total Students</h2>
<h1>120</h1>
</div>

<div class="report-card">
<h2>Highest CGPA</h2>
<h1>9.80</h1>
</div>

<div class="report-card">
<h2>Lowest CGPA</h2>
<h1>6.90</h1>
</div>

<div class="report-card">
<h2>Average CGPA</h2>
<h1>8.52</h1>
</div>

</div>

</div>

</body>
</html>