<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="form-container">

    <div class="form-card">

        <h1>Update Student</h1>

        <input id="roll" type="number" placeholder="Enter Roll Number">

        <button onclick="loadStudent()">Load Student</button>

        <br><br>

        <input id="name" type="text" placeholder="Student Name">

        <input id="age" type="number" placeholder="Age">

        <input id="gender" type="text" placeholder="Gender">

        <input id="department" type="text" placeholder="Department">

        <input id="cgpa" type="number" step="0.01" placeholder="CGPA">

        <button onclick="updateStudent()">Update Student</button>

    </div>

</div>

<script>

async function loadStudent()
{
    let roll = document.getElementById("roll").value;

    let response = await fetch("/api/searchStudent?roll=" + roll);

    let data = await response.json();

    document.getElementById("name").value = data.name;
    document.getElementById("age").value = data.age;
    document.getElementById("gender").value = data.gender;
    document.getElementById("department").value = data.department;
    document.getElementById("cgpa").value = data.cgpa;
}

async function updateStudent()
{
    let data =
    {
        roll: Number(document.getElementById("roll").value),
        name: document.getElementById("name").value,
        age: Number(document.getElementById("age").value),
        gender: document.getElementById("gender").value,
        department: document.getElementById("department").value,
        cgpa: Number(document.getElementById("cgpa").value)
    };

    let response = await fetch("/api/updateStudent",
    {
        method: "POST",

        headers:
        {
            "Content-Type":"application/json"
        },

        body: JSON.stringify(data)
    });

    alert(await response.text());
}

</script>

</body>

</html>